*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

p{
	
	color:white;
	/*padding:5px;上下左右都內縮5px*/
	/*padding-bottom:5px;*/
	/*padding:3px 10px 20px 1px;*//*上右下左*/
	/*padding:10px 0;(上下都內縮10px)(左右都無內縮)*/
	padding: 5px 0 10;(上)(左右)(下);
	margin: 10px 0;

}

margin 是元件之間的縮排
padding 是元件裡物件的縮排
